<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.edu.xmu.sy.ext.mapper.FingerprintMapper">
    <resultMap id="fingerprintMap" type="cn.edu.xmu.sy.ext.domain.FingerprintDO">
        <result column="id" jdbcType="BIGINT" property="id"/>
        <result column="user_id" jdbcType="BIGINT" property="userId"/>
        <result column="uid" jdbcType="INTEGER" property="uid"/>
        <result column="finger" jdbcType="VARCHAR" property="finger"/>
        <result column="template" jdbcType="VARCHAR" property="template"/>
        <result column="enroll_time" jdbcType="TIMESTAMP" property="enrollTime"/>
        <result column="identify_time" jdbcType="TIMESTAMP" property="identifyTime"/>
        <result column="gmt_create" jdbcType="TIMESTAMP" property="gmtCreate"/>
        <result column="gmt_modify" jdbcType="TIMESTAMP" property="gmtModify"/>
    </resultMap>

    <sql id="generalColumns">
        id, user_id, uid, finger, template, enroll_time, identify_time, gmt_create, gmt_modify
    </sql>

    <insert id="save" parameterType="cn.edu.xmu.sy.ext.domain.FingerprintDO">
        insert into tbl_fingerprint(<include refid="generalColumns"/>)
        values(#{id}, #{userId}, #{uid}, #{finger}, #{template}, #{enrollTime}, #{identifyTime},
        #{gmtCreate}, #{gmtModify})
    </insert>

    <insert id="saveBatch" parameterType="cn.edu.xmu.sy.ext.domain.CounterDO">
        insert into tbl_fingerprint(<include refid="generalColumns"/>)
        values
        <foreach collection="list" item="item" separator=",">
            (#{item.id}, #{item.userId}, #{item.uid}, #{item.finger}, #{item.template}, #{item.enrollTime},
            #{item.identifyTime}, #{item.gmtCreate}, #{item.gmtModify})
        </foreach>
    </insert>

    <update id="updateById" parameterType="cn.edu.xmu.sy.ext.domain.FingerprintDO">
        update tbl_fingerprint
        set gmt_modify = #{gmtModify}
        <if test="userId != null">
            , user_id = #{userId}
        </if>
        <if test="uid != null">
            , uid = #{uid}
        </if>
        <if test="finger != null">
            , finger = #{finger}
        </if>
        <if test="template != null">
            , template = #{template}
        </if>
        <if test="enrollTime != null">
            , enroll_time = #{enrollTime}
        </if>
        <if test="identifyTime != null">
            , identify_time = #{identifyTime}
        </if>
        where id = #{id} and is_delete = 0
    </update>

    <update id="removeById" parameterType="java.lang.Long">
        update tbl_fingerprint set is_delete = 1
        where id = #{id} and is_delete = 0
    </update>

    <update id="removeByUserId" parameterType="java.lang.Long">
        update tbl_fingerprint set is_delete = 1
        where user_id = #{userId} and is_delete = 0
    </update>

    <select id="getById" parameterType="java.lang.Long" resultMap="fingerprintMap">
        select
        <include refid="generalColumns"/>
        from tbl_fingerprint
        where id = #{id} and is_delete = 0
        limit 1
    </select>

    <select id="getByUid" parameterType="java.lang.Integer" resultMap="fingerprintMap">
        select
        <include refid="generalColumns"/>
        from tbl_fingerprint
        where uid = #{uid} and is_delete = 0
        limit 1
    </select>

    <select id="countByUserId" parameterType="java.lang.Long" resultType="java.lang.Long">
        select count(1)
        from tbl_fingerprint
        where user_id = #{userId} and is_delete = 0
    </select>

    <select id="getByUserId" parameterType="java.lang.Long" resultMap="fingerprintMap">
        select
        <include refid="generalColumns"/>
        from tbl_fingerprint
        where user_id = #{userId} and is_delete = 0
    </select>

    <select id="listByUserId" parameterType="java.lang.Long" resultMap="fingerprintMap">
        select
        <include refid="generalColumns"/>
        from tbl_fingerprint
        where user_id in
        <foreach collection="list" item="item" open="(" close=")" separator=",">
            #{item}
        </foreach>
        and is_delete = 0
    </select>

    <select id="countAll" resultType="java.lang.Long">
        select count(1)
        from tbl_fingerprint
        where is_delete = 0
    </select>

    <select id="listAll" resultMap="fingerprintMap">
        select
        <include refid="generalColumns"/>
        from tbl_fingerprint
        where is_delete = 0
        <if test="offset != null">
            limit ${offset}, ${rows}
        </if>
        <if test="offset == null">
            limit ${rows}
        </if>
    </select>
</mapper>