<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.edu.xmu.sy.ext.mapper.LogMapper">
    <resultMap id="logMap" type="cn.edu.xmu.sy.ext.domain.LogDO">
        <result column="id" jdbcType="BIGINT" property="id"/>
        <result column="category" jdbcType="VARCHAR" property="category"/>
        <result column="content" jdbcType="VARCHAR" property="content"/>
        <result column="gmt_create" jdbcType="TIMESTAMP" property="gmtCreate"/>
        <result column="gmt_modify" jdbcType="TIMESTAMP" property="gmtModify"/>
    </resultMap>

    <sql id="generalInsertColumns">
        id, category, content, gmt_create, gmt_modify
    </sql>

    <sql id="generalSelectColumns">
        id, category, content
    </sql>

    <sql id="selectWithCreateTimeColumns">
        id, category, content, gmt_create
    </sql>

    <insert id="save" parameterType="cn.edu.xmu.sy.ext.domain.LogDO">
        insert into tbl_log(<include refid="generalInsertColumns"/>)
        values(#{id}, #{category}, #{content}, #{gmtCreate}, #{gmtModify})
    </insert>

    <insert id="saveBatch" parameterType="cn.edu.xmu.sy.ext.domain.LogDO">
        insert into tbl_log(<include refid="generalInsertColumns"/>)
        values
        <foreach collection="list" item="item" separator=",">
            (#{item.id}, #{item.category}, #{item.content}, #{item.gmtCreate}, #{item.gmtModify})
        </foreach>
    </insert>

    <update id="updateById" parameterType="cn.edu.xmu.sy.ext.domain.LogDO">
        update tbl_log
        set gmt_modify = #{gmtModify}
        <if test="category != null">
            , category = #{category}
        </if>
        <if test="content != null">
            , content = #{content}
        </if>
        where id = #{id} and is_delete = 0
    </update>

    <update id="removeById" parameterType="java.lang.Long">
        update tbl_log set is_delete = 1
        where id = #{id} and is_delete = 0
    </update>

    <select id="getById" parameterType="java.lang.Long" resultMap="logMap">
        select
        <include refid="generalSelectColumns"/>
        from tbl_log
        where id = #{id} and is_delete = 0
    </select>

    <select id="listByParam" parameterType="cn.edu.xmu.sy.ext.param.LogQueryParam" resultMap="logMap">
        select
        <include refid="selectWithCreateTimeColumns"/>
        from tbl_log
        where is_delete = 0
        <if test="category != null">
            and category = #{category}
        </if>
        <if test="period != null">
            and gmt_create >= #{period.start} and #{period.end} >= gmt_create
        </if>
        <if test="search.keyword != null">
            and match(content) against(#{search.keyword} in boolean mode)
            <if test="paging.start != null">
                limit ${paging.start}, ${paging.size}
            </if>
            <if test="paging.start == null">
                limit ${paging.size}
            </if>
        </if>
        <if test="search.keyword == null">
            <if test="paging.start != null">
                and #{paging.start} > id
            </if>
            order by id desc
            limit ${paging.size}
        </if>
    </select>

    <select id="countByParam" parameterType="cn.edu.xmu.sy.ext.param.LogQueryParam" resultType="java.lang.Long">
        select count(1)
        from tbl_log
        where is_delete = 0
        <if test="category != null">
            and category = #{category}
        </if>
        <if test="search.keyword != null">
            and match(content) against(#{search.keyword} in boolean mode)
        </if>
    </select>
</mapper>