<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.edu.xmu.sy.ext.mapper.MessageMapper">
    <resultMap id="messageMap" type="cn.edu.xmu.sy.ext.domain.MessageDO">
        <result column="id" jdbcType="BIGINT" property="id"/>
        <result column="counter_id" jdbcType="BIGINT" property="counterId"/>
        <result column="session_id" jdbcType="BIGINT" property="sessionId"/>
        <result column="uid" jdbcType="BIGINT" property="uid"/>
        <result column="direction" jdbcType="INTEGER" property="direction"/>
        <result column="type" jdbcType="VARCHAR" property="type"/>
        <result column="body" jdbcType="VARCHAR" property="body"/>
        <result column="retry" jdbcType="INTEGER" property="retry"/>
        <result column="send_time" jdbcType="TIMESTAMP" property="sendTime"/>
        <result column="ack_time" jdbcType="TIMESTAMP" property="ackTime"/>
        <result column="receive_time" jdbcType="TIMESTAMP" property="receiveTime"/>
        <result column="gmt_create" jdbcType="TIMESTAMP" property="gmtCreate"/>
        <result column="gmt_modify" jdbcType="TIMESTAMP" property="gmtModify"/>
    </resultMap>

    <sql id="generalColumns">
        id, counter_id, session_id, uid, direction, type, body, retry, send_time, ack_time, receive_time, gmt_create,
        gmt_modify
    </sql>

    <insert id="save" parameterType="cn.edu.xmu.sy.ext.domain.MessageDO">
        insert into tbl_message(<include refid="generalColumns"/>)
        values(#{id}, #{counterId}, #{sessionId}, #{uid}, #{direction}, #{type}, #{body}, #{retry}, #{sendTime},
        #{ackTime}, #{receiveTime}, #{gmtCreate}, #{gmtModify})
    </insert>

    <insert id="saveBatch" parameterType="cn.edu.xmu.sy.ext.domain.MessageDO">
        insert into tbl_message(<include refid="generalColumns"/>)
        values
        <foreach collection="list" item="item" separator=",">
            (#{item.id}, #{item.counterId}, #{item.sessionId}, #{item.uid}, #{item.direction}, #{item.type},
            #{item.body}, #{item.retry}, #{item.sendTime}, #{item.ackTime}, #{item.receiveTime}, #{item.gmtCreate},
            #{item.gmtModify})
        </foreach>
    </insert>

    <update id="updateById" parameterType="cn.edu.xmu.sy.ext.domain.MessageDO">
        update tbl_message
        set gmt_modify = #{gmtModify}
        <if test="counterId != null">
            , counter_id = #{counterId}
        </if>
        <if test="sessionId != null">
            , session_id = #{sessionId}
        </if>
        <if test="uid != null">
            , uid = #{uid}
        </if>
        <if test="direction != null">
            , direction = #{direction}
        </if>
        <if test="type != null">
            , type = #{type}
        </if>
        <if test="body != null">
            , body = #{body}
        </if>
        <if test="retry != null">
            , retry = #{retry}
        </if>
        <if test="sendTime != null">
            , send_time = #{sendTime}
        </if>
        <if test="ackTime != null">
            , ack_time = #{ackTime}
        </if>
        <if test="receiveTime != null">
            , receive_time = #{receiveTime}
        </if>
        where id = #{id} and is_delete = 0
    </update>

    <update id="removeById" parameterType="java.lang.Long">
        update tbl_message set is_delete = 1
        where id = #{id} and is_delete = 0
    </update>

    <update id="removeByCounterId">
        update tbl_message set is_delete = 1
        where counter_id = #{counterId} and is_delete = 0
    </update>

    <update id="removeBySessionId">
        update tbl_message set is_delete = 1
        where counter_id = #{counterId} and session_id = #{sessionId} and is_delete = 0
    </update>

    <select id="getById" parameterType="java.lang.Long" resultMap="messageMap">
        select
        <include refid="generalColumns"/>
        from tbl_message
        where id = #{id} and is_delete = 0
        limit 1
    </select>

    <select id="getByCounterId" parameterType="java.lang.Long" resultMap="messageMap">
        select
        <include refid="generalColumns"/>
        from tbl_message
        where counter_id = #{counterId} and is_delete = 0
    </select>

    <select id="getByUid" parameterType="java.lang.Long" resultMap="messageMap">
        select
        <include refid="generalColumns"/>
        from tbl_message
        where uid = #{uid} and is_delete = 0
        <if test="direction != null">
            and direction = #{direction}
        </if>
    </select>

    <select id="listByUid" resultMap="messageMap">
        select
        <include refid="generalColumns"/>
        from tbl_message
        where uid in
        <foreach collection="uids" item="item" open="(" separator="," close=")">
            #{item}
        </foreach>
        <if test="direction != null">
            and direction = #{direction}
        </if>
        and is_delete = 0
    </select>

    <select id="countByParam" parameterType="cn.edu.xmu.sy.ext.param.MessageQueryParam" resultType="java.lang.Long">
        select count(1)
        from tbl_message
        <!--只查询发送的消息，接收的消息需要二次查询-->
        where direction = 0 and is_delete = 0
        <if test="type != null">
            and type = #{type}
        </if>
        <if test="period != null">
            and(
            <!--发送时间-->
            (send_time >= #{period.start} and #{period.end} > send_time)
            or
            <!--确认时间(若存在)-->
            (ack_time is not null and ack_time >= #{period.start} and #{period.end} > ack_time)
            )
        </if>
        <if test="search.keyword != null">
            and match(body) against (#{search.keyword} in boolean mode)
        </if>
    </select>

    <select id="listByParam" parameterType="cn.edu.xmu.sy.ext.param.MessageQueryParam" resultMap="messageMap">
        select
        <include refid="generalColumns"/>
        from tbl_message
        where direction = 0 and is_delete = 0
        <if test="type != null">
            and type = #{type}
        </if>
        <if test="period != null">
            and(
            <!--发送时间-->
            (send_time >= #{period.start} and #{period.end} > send_time)
            or
            <!--确认时间(若存在)-->
            (ack_time is not null and ack_time >= #{period.start} and #{period.end} > ack_time)
            )
        </if>
        <if test="search.keyword != null">
            and match(body) against (#{search.keyword} in boolean mode)
        </if>
        <if test="search.keyword == null">
            order by id desc
        </if>
        <if test="paging.start != null">
            limit ${paging.start}, ${paging.size}
        </if>
        <if test="paging.start == null">
            limit ${paging.size}
        </if>
    </select>
</mapper>