<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.edu.xmu.sy.ext.mapper.ResourceMapper">
    <resultMap id="resourceMap" type="cn.edu.xmu.sy.ext.domain.ResourceDO">
        <result column="id" jdbcType="BIGINT" property="id"/>
        <result column="type" jdbcType="VARCHAR" property="type"/>
        <result column="tag" jdbcType="VARCHAR" property="tag"/>
        <result column="filename" jdbcType="VARCHAR" property="filename"/>
        <result column="md5" jdbcType="VARCHAR" property="md5"/>
        <result column="gmt_create" jdbcType="TIMESTAMP" property="gmtCreate"/>
        <result column="gmt_modify" jdbcType="TIMESTAMP" property="gmtModify"/>
    </resultMap>

    <sql id="generalColumns">
        id, type, tag, filename, md5, gmt_create, gmt_modify
    </sql>

    <insert id="save" parameterType="cn.edu.xmu.sy.ext.domain.ResourceDO">
        insert into tbl_resource(<include refid="generalColumns"/>)
        values(#{id}, #{type}, #{tag}, #{filename}, #{md5}, #{gmtCreate}, #{gmtModify})
    </insert>

    <insert id="saveBatch" parameterType="cn.edu.xmu.sy.ext.domain.ResourceDO">
        insert into tbl_resource(<include refid="generalColumns"/>)
        values
        <foreach collection="list" item="item" separator=",">
            (#{item.id}, #{item.type}, #{item.tag}, #{item.filename}, #{item.md5},
            #{item.gmtCreate}, #{item.gmtModify})
        </foreach>
    </insert>

    <update id="updateById" parameterType="cn.edu.xmu.sy.ext.domain.ResourceDO">
        update tbl_resource
        set gmt_modify = #{gmtModify}
        <if test="type != null">
            , type = #{type}
        </if>
        <if test="tag != null">
            , tag = #{tag}
        </if>
        <if test="filename != null">
            , filename = #{filename}
        </if>
        <if test="md5 != null">
            , md5 = #{md5}
        </if>
        where id = #{id} and is_delete = 0
    </update>

    <update id="removeById" parameterType="java.lang.Long">
        update tbl_resource set is_delete = 1
        where id = #{id} and is_delete = 0
    </update>

    <select id="getById" parameterType="java.lang.Long" resultMap="resourceMap">
        select
        <include refid="generalColumns"/>
        from tbl_resource
        where id = #{id} and is_delete = 0
        limit 1
    </select>

    <select id="getByType" parameterType="java.lang.String" resultMap="resourceMap">
        select
        <include refid="generalColumns"/>
        from tbl_resource
        where type = #{type} and is_delete = 0
    </select>

    <select id="getByTag" resultMap="resourceMap">
        select
        <include refid="generalColumns"/>
        from tbl_resource
        where type = #{type} and tag = #{tag} and is_delete = 0
        limit 1
    </select>

    <select id="countByParam" parameterType="cn.edu.xmu.sy.ext.param.ResourceQueryParam" resultType="java.lang.Long">
        select count(1)
        from tbl_resource
        where is_delete = 0
        <if test="type != null">
            and type = #{type}
        </if>
        <if test="period != null">
            and gmt_modify >= #{period.start} and #{period.end} >= gmt_modify
        </if>
        <if test="search.keyword != null">
            and match(tag) against (#{search.keyword} in boolean mode)
        </if>
    </select>

    <select id="listByParam" parameterType="cn.edu.xmu.sy.ext.param.ResourceQueryParam" resultMap="resourceMap">
        select
        <include refid="generalColumns"/>
        from tbl_resource
        where is_delete = 0
        <if test="type != null">
            and type = #{type}
        </if>
        <if test="period != null">
            and gmt_modify >= #{period.start} and #{period.end} >= gmt_modify
        </if>
        <if test="search.keyword != null">
            and match(tag) against (#{search.keyword} in boolean mode)
        </if>
        <if test="search.keyword == null">
            order by id desc
        </if>
        <if test="paging.start != null">
            limit ${paging.start}, ${paging.size}
        </if>
        <if test="paging.start == null">
            limit ${paging.size}
        </if>
    </select>

    <select id="countAll" resultType="java.lang.Long">
        select count(1)
        from tbl_resource
        where is_delete = 0
    </select>

    <select id="listAll" resultMap="resourceMap">
        select
        <include refid="generalColumns"/>
        from tbl_resource
        where is_delete = 0
        <if test="offset != null">
            limit ${offset}, ${rows}
        </if>
        <if test="offset == null">
            limit ${rows}
        </if>
    </select>
</mapper>