<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.edu.xmu.sy.ext.mapper.UserMapper">
    <sql id="generalInsertColumns">
        id, number, name, photo, gmt_create, gmt_modify
    </sql>

    <sql id="generalSelectColumns">
        id as id, number as number, name as name, photo as photo
    </sql>

    <insert id="save" parameterType="cn.edu.xmu.sy.ext.domain.UserDO">
        insert into tbl_user(<include refid="generalInsertColumns"/>)
        values(#{id}, #{number}, #{name}, #{photo}, #{gmtCreate}, #{gmtModify})
    </insert>

    <insert id="saveBatch" parameterType="java.util.List">
        insert into tbl_user(<include refid="generalInsertColumns"/>)
        values
        <foreach collection="list" item="item" separator=",">
            (#{item.id}, #{item.number}, #{item.name}, #{item.photo}, #{item.gmtCreate}, #{item.gmtModify})
        </foreach>
    </insert>

    <update id="updateById" parameterType="cn.edu.xmu.sy.ext.domain.UserDO">
        update tbl_user
        set gmt_modify = #{gmtModify}
        <if test="number != null">
            , number = #{number}
        </if>
        <if test="name != null">
            , name = #{name}
        </if>
        <if test="photo != null">
            , photo = #{photo}
        </if>
        where id = #{id} and is_delete = 0
    </update>

    <update id="removeById" parameterType="java.lang.Long">
        <!--TODO 是否修改gmt_modify字段？-->
        update tbl_user set is_delete = 1
        where id = #{id} and is_delete = 0
    </update>

    <select id="getById" parameterType="java.lang.Long" resultType="cn.edu.xmu.sy.ext.result.UserQueryResult">
        select
        <include refid="generalSelectColumns"/>
        from tbl_user
        where id = #{id} and is_delete = 0
    </select>

    <select id="listByKeyword" parameterType="cn.edu.xmu.sy.ext.param.UserQueryParam"
            resultType="cn.edu.xmu.sy.ext.result.UserQueryResult">
        select
        <include refid="generalSelectColumns"/>
        from tbl_user
        where is_delete = 0
        <if test="keyword != null">
            <!--and (number like concat(#{keyword}, '%') or name like concat(#{keyword}, '%'))-->
            and match(number, name) against(#{keyword} in boolean mode)
            <if test="minId != null">
                and id > #{minId}
            </if>
        </if>
        <if test="keyword == null">
            <if test="minId != null">
                and #{minId} > id
            </if>
            order by id desc
        </if>
        limit ${pageSize}
    </select>

    <select id="countByKeyword" parameterType="cn.edu.xmu.sy.ext.param.UserQueryParam" resultType="java.lang.Long">
        select count(1)
        from tbl_user
        where is_delete = 0
        <if test="keyword != null">
            <!--and (number like concat(#{keyword}, '%') or name like concat(#{keyword}, '%'))-->
            and match(number, name) against(#{keyword} in boolean mode)
        </if>
    </select>
</mapper>