<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
    <plugins>
        <plugin interceptor="cn.com.lx1992.lib.cat.interceptor.CatMyBatisInterceptor"/>
    </plugins>
    <mappers>
        <mapper resource="mybatis/mapper/user-mapper.xml"/>
        <mapper resource="mybatis/mapper/fingerprint-mapper.xml"/>
        <mapper resource="mybatis/mapper/counter-mapper.xml"/>
        <mapper resource="mybatis/mapper/session-mapper.xml"/>
        <mapper resource="mybatis/mapper/message-mapper.xml"/>
        <mapper resource="mybatis/mapper/setting-mapper.xml"/>
        <mapper resource="mybatis/mapper/resource-mapper.xml"/>
        <mapper resource="mybatis/mapper/log-mapper.xml"/>
    </mappers>
</configuration>